<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS_ABSOLUTE_PATH" value="/home/sineuncha/rest-api-logs"></property>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="ROLLFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_ABSOLUTE_PATH}/logback.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/logback.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10mb</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOGS_ABSOLUTE_PATH}/rest-api-error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/logback.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="java.sql" level="warn" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLFILE"/>
    </logger>
    <logger name="jdbc" level="error" additivity="true">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLFILE"/>
        <appender-ref ref="ERROR"/>
    </logger>
    <!-- SQL문과 해당 SQL을 실행시키는데 수행된 시간 정보(milliseconds)를 포함 -->
    <logger name="jdbc.sqltiming" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLFILE"/>
    </logger>
    <logger name="jdbc.resultsettable" level="error" additivity="true">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLFILE"/>
        <appender-ref ref="ERROR"/>
    </logger>
    <logger name="jdbc.connection" level="error" additivity="true">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLFILE"/>
        <appender-ref ref="ERROR"/>
    </logger>
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLFILE"/>
    </root>

</configuration>